<% include ./login.ejs %>
<!-- Navigation -->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top" ng-controller="naviCtrl">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><%=title%></a>
            <% if(defaultPath != ""){ %>
            <a class="navbar-brand"><i id="ymp-play" class="fa fa-play fa-1x"></i></a>
            <a class="navbar-brand"><i id="ymp-pause" class="fa fa-pause fa-1x"></i></a>
            <a class="navbar-brand"><i id="ymp-change" class="fa fa-step-forward fa-1x"></i></a>
            <% } %>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <% if(defaultPath != ""){ %>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/<%=defaultPath%>">Home</a>
                </li>
                <li>
                    <a href="/<%=defaultPath%>/about">About</a>
                </li>
                <li>
                    <a href="/<%=defaultPath%>/post">Sample Post</a>
                </li>
                <li>
                    <a href="/<%=defaultPath%>/contact">Contact</a>
                </li>
                <li>
                  <% if(users){%>
                    <a href="javascript:void(0)" onclick="location.href='/user/logout'">Logout</a>
                  <%}else{%>
                    <a href="javascript:void(0)" data-toggle="modal" data-target=".loginModal">Login</a>
                  <%}%>
                </li>
            </ul>
            <% } %>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
