<!-- Blog Sidebar Widgets Column -->
<div class="col-lg-4 col-md-10" ng-controller="categoryCtrl">

    <% if(users){ %>
      <% if(defaultPath == users.usr_path){ %>
    <!-- Post Regist Well -->
    <div class="well">
      <h4>Registration posts</h4>
      <p>
        <a href="/<%=defaultPath%>/post/regist" type="button" target="_self" class="btn btn-block btn-default btn-sm deco-none">Registration</a>
      </p>
    </div>
      <% } %>
    <% } %>
    <!-- Blog Search Well -->
    <div class="well">
        <h4>Blog Search</h4>
		<div class="input-group">
			<input type="text" class="form-control" ng-value="searchText" name="searchText" id="searchText">
			<span class="input-group-btn">
				<button class="btn btn-default btn-xs" type="button" style="padding:6px 20px">
					<span class="glyphicon glyphicon-search" ng-click="goSearch()"></span>
			</button>
			</span>
		</div>

        <!-- /.input-group -->
    </div>

    <!-- Blog Categories Well -->
    <div class="well">
        <h4>Blog Categories</h4>
        <% if(users){ %>
            <% if(defaultPath == users.usr_path){ %>
            <div class="col-lg-12">
              <div class="row">
                <ul class="list-unstyled">
                    <li><a href="javascript:void(0)" class="btn btn-block btn-danger btn-xs" data-toggle="modal" data-target=".addCatModal">ADD</a></li>
                </ul>

              </div>
            </div>
            <% } %>
        <% } %>

        <div class="row">
            <div class="col-lg-12">
    				<p>
    					<a href="javascript:void(0)"  ng-click ="goUrl('<%=defaultPath%>')" class="btn btn-block btn-default btn-xs">전체[<%=categories.totalCnt%>]</a>
              <% for(var i=0; i < categories.length; i++){%>
    						<a href="javascript:void(0)" ng-click ="goUrl('<%=defaultPath%>',<%=categories[i].category_no%>)" class="btn btn-block btn-primary btn-xs col-lg-6" style="margin-top:3px;">
                  <%=categories[i].category_ne%>[<%=categories.cntList[i].count%>]
                </a>
    					<%}%>
            </p>

            </div>
        </div>
        <!-- /.row -->
    </div>

    <!-- Side Widget Well -->
    <div class="well">
        <h4>Side Widget Well</h4>
        <p>
            <a href="https://nodejs.org/ko/" type="button" target="_blank" class="btn btn-block btn-default btn-sm deco-none">nodejs</a>
            <a href="https://www.mongodb.org/" type="button" target="_blank" class="btn btn-block btn-primary btn-sm deco-none">mongodb</a>
            <a href="https://www.java.com/ko/" type="button" target="_blank" class="btn btn-block btn-danger btn-sm deco-none">java</a>
            <a href="http://developer.android.com/index.html" type="button" target="_blank" class="btn btn-block btn-warning btn-sm deco-none">android</a>
            <a href="http://www.apple.com/kr/swift/" type="button" target="_blank" class="btn btn-block btn-info btn-sm deco-none">swift</a>
            <a href="https://golang.org/" type="button" target="_blank" class="btn btn-block btn-success btn-sm deco-none">go</a>
			<a href="http://tryhelloworld.co.kr/" type="button" target="_blank" class="btn btn-block btn-danger btn-sm deco-none">helloworld</a>
        </p>
    </div>

</div>
